Checks: >
  bugprone-*,
  modernize-*,
  performance-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
  -readability-named-parameter

WarningsAsErrors: ""

CheckOptions:
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.MemberCase
    value: lower_case
  - key: readability-identifier-naming.MemberIgnoredRegexp
    value: "^[DKRP]$"
  - key: readability-identifier-naming.ParameterCase
    value: lower_case
  <!-- - key: readability-identifier-naming.VariableCase
    value: lower_case -->
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.EnumConstantCase
    value: CamelCase
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
